<div class="dish-form">
  <%= f.text_field :name, placeholder: "New dish" %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.check_box :gluten_free %>
  <%= f.label :gluten_free %>
</div>
