<%= form_for(@restaurant, remote: false, authenticity_token: true) do |restaurant_form| %>
  <%= error_messages_for @restaurant %>

  <div class="restaurant-form">
    <div class="field">
      <%= restaurant_form.label :name %>
      <%= restaurant_form.text_field :name %>
    </div>
    <div class="field">
      <%= restaurant_form.label :address %>
      <%= restaurant_form.text_field :address %>
    </div>
    <div class="field">
      <%= restaurant_form.label :kitchen_type, "Kitchen" %>
      <%= restaurant_form.text_field :kitchen_type %>
    </div>
  </div>

  <% if @restaurant.dishes.any? %>
    <h2>Dishes</h2>
    <%= restaurant_form.fields_for :dishes do |dish_fields| %>
      <%= render "dish_fields", f: dish_fields %>
    <% end %>
  <% end %>

  <%= link_to_add_dish(restaurant_form) %>
  <%= restaurant_form.submit %>
<% end %>
