<!DOCTYPE html>
<html>
  <head>
    <title>Foodplaces</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__inner wrapper">
        <%= link_to 'FoodPlaces', root_path, class: "site-title" %>
        <nav class="main-nav">
          <ul>
            <li><%= link_to "Restaurant index", restaurants_path %></li>
            <li><%= link_to "Add a restaurant", new_restaurant_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="wrapper">
      <%= yield %>
    </main>
  </body>
</html>
